.songInfo {
    border: 2px;
    border-style: solid;
    padding-left: 50px;
}

.vtwrapper{
    border: 1px;
    border-style: dashed;   
}

.video{
    border: 2px;
    border-style: double;
}

.tab{
    border: 2px;
    border-style: double;
}

.playlib{
    text-align: right;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
}